.main__text {
  color: #939cb0;
  font-size: 14px;
  line-height: 20px;
  margin-right: 10px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  display: block;
  width: 150px;
}