html,
body {
  height: 100%;
}

.page {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #ECEEF2;
  color: #FFFFFF;
  min-height: 100vh;
  font-family: Helvetica Neue,Arial,sans-serif;
}