.ad__card-subtitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.0002em;
  color: #222222;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}